.confirmModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 420px;
    padding: 40px;
    background-color: #2A2A2A;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    animation: slide-up 0.5s ease;
    
    &.closing{
        animation: slide-down 0.5s ease;
    }

    &__header{
        display: flex;
        justify-content: space-around; 
        align-items: center;
        width: 100%; 
        height: 55px;
        border-bottom: 1px solid black;

        h1{
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: 500;
        }

        button{
            background: none;
            border: none;
            color: #939393;

            &:hover{
                color: #000000;
            }
        }
    }

    &__buttonsContainer{
        display: flex;
        flex-direction: row;
        width:100%;
        align-items: center;
        justify-content: space-around;
        margin: 10px;

        &__cancelButton{
            background-color: #747474;
            border: none;
            border-radius: 12px;
            color: #FFFFFF;
            width: 45%;

            &:hover{
                color: #000000;
            }
        }

        &__acceptButton{
            background-color: #7289da;
            border: none;
            border-radius: 12px;
            color: #FFFFFF;
            width: 45%;

            &:hover{
                color: #000000;
                background-color: #FF0000;
            }
        }
    }

    @keyframes slide-up {
        from {
            opacity: 0;
            transform: translate(-50%, calc(-50% + 20px));
        }
    
        to {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    /*@keyframes slide-down {
        from {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    
        to {
            opacity: 1;
            transform: translate(-50%, calc(-50% + 20px));
        }
    }*/

}

.nameHolder{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    width: 80%;
    height: 30%;
    border-radius: 12px;
    background-color: #2A2A2A;

    h1{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
    }
}